APP_NAME=Express Boilerplate API
APP_ENV=sandbox
APP_DEBUG=false
NODE_ENV=development

# Application URL
PORTAL_URL=https://portal-sandbox.haqqman.agency
CONSOLE_URL=https://console-sandbox.haqqman.agency

# Port Number
PORT=6000

# DATABASE (Mongo DB)
DATABASE_NAME=Recylinker
DATABASE_URL=mongodb://127.0.0.1:27017
# Postmark Key
POSTMARK_SECRET=74de558d-67bb-444d-81f0-ae8151dba3bd

# Mail Service
MAIL_FROM_NAME=Express Boilerplate Sandbox
MAIL_FROM_DEFAULT=platform+sandbox@haqqman.agency
MAIL_FROM_PORTAL=portal+sandbox@haqqman.agency
MAIL_FROM_CONSOLE=console+sandbox@haqqman.agency

# JWT Secret Key
JWT_SECRET='18fa2f6060efd7f52ec01453f12a0c4e318b3d756fd275f5d80c25cbec1c6b54df08b790d5b0a3d464a5176060a46e4b964afc564340d8f1d52449abaea0e697'
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30

# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10

# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# Number of minutes after which an update email token expires
JWT_UPDATE_EMAIL_EXPIRATION_MINUTES=30

# Payment Gateway
FLUTTERWAVE_PUBLIC_KEY=INSERT_VALUE
FLUTTERWAVE_SECRET_KEY=INSERT_VALUE

# Image and Video API for Powerful Visual Experiences
CLOUDINARY_CLOUD_NAME=INSERT_VALUE
CLOUDINARY_API_KEY=INSERT_VALUE
CLOUDINARY_API_SECRET=INSERT_VALUE
CLOUDINARY_FOLDER=INSERT_VALUE

# Error Monitoring and App Stability Management
BUGSNAG_API_KEY=INSERT_VALUE

# Google Cloud Services API Key
GEMINI_API_KEY=AIzaSyB7_x3_TPk4lNosBZvk_rYZOxU3iTxC5dA
YOUTUBE_API_KEY=AIzaSyAfpt6oC49na9jPrcAsUANaBwex0RoIlF4